@font-face {
    font-family: "GochiHand";
    src: url("../fonts/Gochi_Hand/GochiHand-Regular.ttf");
}

html, body {
    width: 300px;
    font-family: 'GochiHand';
  }
  
  .hidden {
    display: none;
  }
  
  .button {
    margin: 3% auto;
    padding: 4px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
  }
  .option {
    background-color: #E5F2F2;
    transition: all 200ms;
  }
  
  .option:hover {
    background-color: #b8fdfd;
  }
  
  .about {
    background-color: antiquewhite;
    transition: all 500ms;
  }
  .about:hover {
    background-color: rgb(245, 203, 149);
  }

  .titulo {
      text-align: center;
      font-size: 22px;
  }